{% extends 'base.html.twig' %}

{% block body %}

<h1>Home Page</h1>


{% if location.ready %}

<p><b>Forecast for:</b> {{location.description}}</p>
{{ location.averageTemp }}


<table>
<tr>
<th>Forecast data</th>
<th>Temp</th>
<th>min Temp</th>
<th>max Temp</th>
</tr>
{% for forecast in location.forecasts %}
<tr>
<td>{{ forecast.name }}</td>
<td>{{ forecast.data.tempMin }}</td>
<td>{{ forecast.data.tempMax }}</td>
<td>{{ forecast.data.temp }}</td>
</tr>

{% else %}
   No forecasts
{% endfor %}

</table>

{% else %}

<p>No forecasts for your location. Please write correct city and country name.</p>

{% endif %}



{{ form(form) }}

{% endblock %}
