{% extends 'base.html.twig' %}

{% block body %}



<div class="form">

    <h1>what's the weather like today in...</h1>
    {{ form(form) }}
</div>


<div class="forecast">

    {% if location.ready %}

    <div>{{location.description}}</div>
    <div class="temp">{{ location.averageTemp|number_format(2, '.', ',') }}C째</div>

    <table class="table">
        <tr>
            <th>Forecast data</th>
            <th>C째</th>
            <th>min C째</th>
            <th>max C째</th>
            <th>hPa<th>
        </tr>
        {% for forecast in location.forecasts %}
        <tr>
            <td>{{ forecast.name }}</td>
            <td>{{ forecast.data.tempMin }}</td>
            <td>{{ forecast.data.tempMax }}</td>
            <td>{{ forecast.data.temp }}</td>
            <td>{{ forecast.data.press }}</td>
        </tr>
        {% else %}
        No forecasts
        {% endfor %}
    </table>


    {% else %}

    <p>No forecasts for your location. Please write correct city and country name.</p>

    {% endif %}

</div>

{% endblock %}